.sw{
    /* display: grid; */
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    /* justify-items: end; */

    /* background-color: tomato; */
}

.sw input{
    opacity: 0;
    width: 0;
    height: 0;
}

.sl{
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: grey;
    transition: 0.4s;
}

.sl:before{
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .sl{
    background-color: blue;
}

input:checked + .sl:before{
    transform: translateX(36px);
}

.sl.rounded{
    border-radius: 34px;
}

.sl.rounded:before{
    border-radius: 50%;
}
